# Importing Libraries

In [2]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

# Importing Data

In [5]:
path = r'C:\Users\drbar\Documents\Career Foundry\Projects\04 - 25 Instacart Basket Analysis'

In [7]:
df_ords_prods = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','ords_prods_derived_variables.pkl'))

## Exercise

### 2.

In [15]:
# Finding the aggregated mean of the "order_number" column grouped by by "department_id"
df_ords_prods.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3.

There is some deviation in the results vs. the results of the 1,000,000 row subset ranging from 0.034894 in department_id 13, up to 2.633100 in department_id 21.

### 4.

In [24]:
# Creating a column for the maximum order of each user_id
df_ords_prods['max_order'] = df_ords_prods.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\drbar\AppData\Local\Temp\ipykernel_5684\1462766776.py:2: FutureWarning: The provided callable <function max at 0x000001D8D799C540> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods['max_order'] = df_ords_prods.groupby(['user_id'])['order_number'].transform(np.max)

In [26]:
# Confirming the max_order column was properly added
df_ords_prods.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,hourly_order_flag,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,7.0,7.0,0.0,both,Mid range product,Busiest,Most orders,4
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,1.0,3.0,1.0,both,Mid range product,Busiest,Most orders,99
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,7.0,4.0,1.0,both,Mid range product,Busiest,Most orders,23
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,30.0,2.0,0.0,both,Mid range product,Regular busy,Most orders,5
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,NaN,30.0,0.0,both,Mid range product,Busiest,Most orders,22
5,1,Chocolate Sandwich Cookies,61,19,5.8,9696,108919,46,5,16,8.0,5.0,1.0,both,Mid range product,Regular busy,Most orders,51
6,1,Chocolate Sandwich Cookies,61,19,5.8,11140,63782,4,1,14,14.0,1.0,1.0,both,Mid range product,Busiest,Most orders,6
7,1,Chocolate Sandwich Cookies,61,19,5.8,11485,170451,5,5,18,24.0,4.0,0.0,both,Mid range product,Regular busy,Average orders,10
8,1,Chocolate Sandwich Cookies,61,19,5.8,12672,106854,28,5,10,6.0,3.0,1.0,both,Mid range product,Regular busy,Most orders,99
9,1,Chocolate Sandwich Cookies,61,19,5.8,13668,181127,10,4,17,9.0,4.0,1.0,both,Mid range product,Least busy,Average orders,22
10,1,Chocolate Sandwich Cookies,61,19,5.8,14668,106519,18,0,22,7.0,13.0,1.0,both,Mid range product,Busiest,Average orders,23
11,1,Chocolate Sandwich Cookies,61,19,5.8,16132,145505,64,2,10,5.0,1.0,1.0,both,Mid range product,Regular busy,Most orders,67
12,1,Chocolate Sandwich Cookies,61,19,5.8,18303,139923,16,0,23,14.0,1.0,1.0,both,Mid range product,Busiest,Fewest orders,39
13,1,Chocolate Sandwich Cookies,61,19,5.8,19479,110984,2,2,12,20.0,5.0,0.0,both,Mid range product,Regular busy,Most orders,16
14,1,Chocolate Sandwich Cookies,61,19,5.8,19569,180719,84,4,19,0.0,9.0,1.0,both,Mid range product,Least busy,Average orders,89

In [38]:
# Creating a flag for "loyal customer" based on their "max_order" being over 40
df_ords_prods.loc[df_ords_prods['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [40]:
# Creating a flag for "Regular customer" based on their "max_order" being under or equal to 40 and over 10
df_ords_prods.loc[(df_ords_prods['max_order'] <= 40 ) & (df_ords_prods['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [42]:
# Creating a flag for "New customer" based on their "max_order" being under or equal to 10
df_ords_prods.loc[df_ords_prods['max_order'] <=10., 'loyalty_flag'] = 'New customer'

In [44]:
# Checking the frequency of our new "loyalty_flag" column
df_ords_prods['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [49]:
# Checking the results of our newly minted "loyalty_flag" column
df_ords_prods[['user_id','loyalty_flag','order_number']].head(60)

    user_id      loyalty_flag  order_number
0     38259      New customer             2
1    196224    Loyal customer            65
2    138499  Regular customer             8
3     79603      New customer             2
4     50005  Regular customer             1
5    108919    Loyal customer            46
6     63782      New customer             4
7    170451      New customer             5
8    106854    Loyal customer            28
9    181127  Regular customer            10
10   106519  Regular customer            18
11   145505    Loyal customer            64
12   139923  Regular customer            16
13   110984  Regular customer             2
14   180719    Loyal customer            84
15   142388  Regular customer             7
16   200356  Regular customer            11
17     4122  Regular customer            11
18   162394      New customer             2
19   148255  Regular customer            18
20   205157  Regular customer            11
21   181127  Regular customer             3
22    92648  Regular customer             8
23    30345      New customer             6
24    50898  Regular customer            28
25    57996    Loyal customer            12
26    77956    Loyal customer            90
27    22561      New customer             4
28   199115  Regular customer            20
29    91160    Loyal customer            32
30    50150  Regular customer            17
31    38748  Regular customer            16
32    65777    Loyal customer            47
33   134728  Regular customer            18
34    11119  Regular customer            18
35    45784  Regular customer             4
36    21054      New customer             3
37   196224    Loyal customer            23
38   102960    Loyal customer            21
39   113429  Regular customer            17
40   111982    Loyal customer            76
41   144159  Regular customer             3
42    72224    Loyal customer            12
43    23234  Regular customer            10
44   131925  Regular customer             8
45    16057  Regular customer             2
46   124716      New customer             5
47    60380  Regular customer            26
48   197324  Regular customer            12
49   157800  Regular customer             9
50    48228      New customer             1
51    23513  Regular customer             5
52    95847    Loyal customer            44
53   101727  Regular customer            28
54   139923  Regular customer            19
55    11448  Regular customer            20
56   162795  Regular customer             6
57   134130  Regular customer            13
58   178504  Regular customer             8
59    80421      New customer             8

### 5.

In [55]:
# Statistical analysis based on the "loyalty_flag"
df_ords_prods.groupby('loyalty_flag').agg({'prices': ['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

New customers have the highest average spend per item, with regular customers trailing by only 6.01%. In contrast, loyal customers tend to purchase lower-priced items, spending approximately 21.88% less per item on average compared to new customers.

### 6.

In [86]:
# Aggregating the average item price by user_id
df_ords_prods.groupby('user_id').agg({'prices': ['mean']})

           prices
             mean
user_id
1        6.367797
2        7.515897
3        8.197727
4        8.205556
5        9.189189
...           ...
206205   8.909375
206206   7.646667
206207   7.313453
206208   8.366617
206209   7.058915

[206209 rows x 1 columns]

In [88]:
# Creating a column for the average item price by user_id
df_ords_prods['average_user_item_price'] = df_ords_prods.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\drbar\AppData\Local\Temp\ipykernel_5684\2320195186.py:2: FutureWarning: The provided callable <function mean at 0x000001D8D799CF40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods['average_user_item_price'] = df_ords_prods.groupby(['user_id'])['prices'].transform(np.mean)

In [90]:
# Checking results of our new column
df_ords_prods.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,hourly_order_flag,max_order,loyalty_flag,average_user_item_price,spending_habit
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,...,7.0,0.0,both,Mid range product,Busiest,Most orders,4,New customer,7.163333,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,...,3.0,1.0,both,Mid range product,Busiest,Most orders,99,Loyal customer,5.342729,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,...,4.0,1.0,both,Mid range product,Busiest,Most orders,23,Regular customer,7.469540,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,...,2.0,0.0,both,Mid range product,Regular busy,Most orders,5,New customer,6.986207,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,...,30.0,0.0,both,Mid range product,Busiest,Most orders,22,Regular customer,7.493154,Low spender
5,1,Chocolate Sandwich Cookies,61,19,5.8,9696,108919,46,5,16,...,5.0,1.0,both,Mid range product,Regular busy,Most orders,51,Loyal customer,7.020681,Low spender
6,1,Chocolate Sandwich Cookies,61,19,5.8,11140,63782,4,1,14,...,1.0,1.0,both,Mid range product,Busiest,Most orders,6,New customer,5.700000,Low spender
7,1,Chocolate Sandwich Cookies,61,19,5.8,11485,170451,5,5,18,...,4.0,0.0,both,Mid range product,Regular busy,Average orders,10,New customer,6.534286,Low spender
8,1,Chocolate Sandwich Cookies,61,19,5.8,12672,106854,28,5,10,...,3.0,1.0,both,Mid range product,Regular busy,Most orders,99,Loyal customer,8.594301,Low spender
9,1,Chocolate Sandwich Cookies,61,19,5.8,13668,181127,10,4,17,...,4.0,1.0,both,Mid range product,Least busy,Average orders,22,Regular customer,7.177143,Low spender
10,1,Chocolate Sandwich Cookies,61,19,5.8,14668,106519,18,0,22,...,13.0,1.0,both,Mid range product,Busiest,Average orders,23,Regular customer,6.582996,Low spender
11,1,Chocolate Sandwich Cookies,61,19,5.8,16132,145505,64,2,10,...,1.0,1.0,both,Mid range product,Regular busy,Most orders,67,Loyal customer,7.179795,Low spender
12,1,Chocolate Sandwich Cookies,61,19,5.8,18303,139923,16,0,23,...,1.0,1.0,both,Mid range product,Busiest,Fewest orders,39,Regular customer,6.353535,Low spender
13,1,Chocolate Sandwich Cookies,61,19,5.8,19479,110984,2,2,12,...,5.0,0.0,both,Mid range product,Regular busy,Most orders,16,Regular customer,9.758140,Low spender
14,1,Chocolate Sandwich Cookies,61,19,5.8,19569,180719,84,4,19,...,9.0,1.0,both,Mid range product,Least busy,Average orders,89,Loyal customer,8.588449,Low spender

In [77]:
# Creating a flag for each user_id spending habit
df_ords_prods.loc[df_ords_prods['average_user_item_price'] >= 10, 'spending_habit'] = 'High spender'

In [79]:
df_ords_prods.loc[df_ords_prods['average_user_item_price'] < 10, 'spending_habit'] = 'Low spender'

In [81]:
# Checking the frequency of our new spending_habit flag
df_ords_prods['spending_habit'].value_counts(dropna = False)

spending_habit
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [92]:
# Checking the results of our new spending_habit flag
df_ords_prods.sort_values('user_id')

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,hourly_order_flag,max_order,loyalty_flag,average_user_item_price,spending_habit
16643953,26088,Aged White Cheddar Popcorn,23,19,4.7,2539329,1,1,2,8,...,4.0,0.0,both,Low range product,Regular busy,Average orders,10,New customer,6.367797,Low spender
7161580,12427,Original Beef Jerky,23,19,4.4,2295261,1,9,1,16,...,6.0,1.0,both,Low range product,Busiest,Most orders,10,New customer,6.367797,Low spender
7161513,12427,Original Beef Jerky,23,19,4.4,2254736,1,4,4,7,...,2.0,1.0,both,Low range product,Least busy,Average orders,10,New customer,6.367797,Low spender
116323,196,Soda,77,7,9.0,2295261,1,9,1,16,...,4.0,1.0,both,Mid range product,Busiest,Most orders,10,New customer,6.367797,Low spender
98186,196,Soda,77,7,9.0,550135,1,7,1,9,...,1.0,1.0,both,Mid range product,Busiest,Most orders,10,New customer,6.367797,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2145082,4461,Organic Raw Unfiltered Apple Cider Vinegar,19,13,14.3,550836,206209,7,2,13,...,10.0,0.0,both,Mid range product,Regular busy,Most orders,13,Regular customer,7.058915,Low spender
26423962,41213,French Loaf,112,3,4.8,1542354,206209,3,5,11,...,2.0,1.0,both,Low range product,Regular busy,Most orders,13,Regular customer,7.058915,Low spender
7754989,13176,Bag of Organic Bananas,24,4,10.3,2129269,206209,8,3,17,...,4.0,1.0,both,Mid range product,Least busy,Average orders,13,Regular customer,7.058915,Low spender
25110627,39216,Original Multigrain Spoonfuls Cereal,121,14,3.3,2977660,206209,13,1,12,...,4.0,0.0,both,Low range product,Busiest,Most orders,13,Regular customer,7.058915,Low spender
20239321,31130,Sea Salt Flakes Original,104,13,6.3,2266710,206209,10,5,18,...,9.0,0.0,both,Mid range product,Regular busy,Average orders,13,Regular customer,7.058915,Low spender

In [93]:
df_ords_prods.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,hourly_order_flag,max_order,loyalty_flag,average_user_item_price,spending_habit
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,...,7.0,0.0,both,Mid range product,Busiest,Most orders,4,New customer,7.163333,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,...,3.0,1.0,both,Mid range product,Busiest,Most orders,99,Loyal customer,5.342729,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,...,4.0,1.0,both,Mid range product,Busiest,Most orders,23,Regular customer,7.469540,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,...,2.0,0.0,both,Mid range product,Regular busy,Most orders,5,New customer,6.986207,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,...,30.0,0.0,both,Mid range product,Busiest,Most orders,22,Regular customer,7.493154,Low spender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.8,197804,84766,22,1,14,...,2.0,1.0,both,Mid range product,Busiest,Most orders,41,Loyal customer,5.104124,Low spender
96,1,Chocolate Sandwich Cookies,61,19,5.8,199870,55962,18,0,18,...,1.0,1.0,both,Mid range product,Busiest,Average orders,22,Regular customer,5.252439,Low spender
97,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,10.0,0.0,both,Mid range product,Regular busy,Fewest orders,28,Regular customer,6.607122,Low spender
98,1,Chocolate Sandwich Cookies,61,19,5.8,204112,65051,12,4,10,...,6.0,0.0,both,Mid range product,Least busy,Most orders,16,Regular customer,5.882759,Low spender
99,1,Chocolate Sandwich Cookies,61,19,5.8,205631,166360,7,3,8,...,16.0,0.0,both,Mid range product,Least busy,Average orders,12,Regular customer,8.025137,Low spender

### 7.

In [97]:
# Aggregating the average days_since_prior_order by user_id
df_ords_prods.groupby('user_id').agg({'days_since_prior_order': ['mean']})

        days_since_prior_order
                          mean
user_id
1                    20.259259
2                    15.967033
3                    11.487179
4                    15.357143
5                    14.500000
...                        ...
206205               20.666667
206206                4.042705
206207               14.879397
206208                7.442105
206209               20.275862

[206209 rows x 1 columns]

In [99]:
# Creating a column for the average days_since_prior_order by user_id
df_ords_prods['average_days_since_prior_order'] = df_ords_prods.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

C:\Users\drbar\AppData\Local\Temp\ipykernel_5684\1555868391.py:2: FutureWarning: The provided callable <function mean at 0x000001D8D799CF40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods['average_days_since_prior_order'] = df_ords_prods.groupby(['user_id'])['days_since_prior_order'].transform(np.mean)

In [103]:
# Checking results of our new column
df_ords_prods.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,busiest_days,hourly_order_flag,max_order,loyalty_flag,average_user_item_price,spending_habit,average_days_since_prior_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,...,0.0,both,Mid range product,Busiest,Most orders,4,New customer,7.163333,Low spender,21.311111
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,...,1.0,both,Mid range product,Busiest,Most orders,99,Loyal customer,5.342729,Low spender,1.460497
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,...,1.0,both,Mid range product,Busiest,Most orders,23,Regular customer,7.469540,Low spender,9.327381
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,...,0.0,both,Mid range product,Regular busy,Most orders,5,New customer,6.986207,Low spender,29.181818
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,...,0.0,both,Mid range product,Busiest,Most orders,22,Regular customer,7.493154,Low spender,8.465479
5,1,Chocolate Sandwich Cookies,61,19,5.8,9696,108919,46,5,16,...,1.0,both,Mid range product,Regular busy,Most orders,51,Loyal customer,7.020681,Low spender,6.948148
6,1,Chocolate Sandwich Cookies,61,19,5.8,11140,63782,4,1,14,...,1.0,both,Mid range product,Busiest,Most orders,6,New customer,5.700000,Low spender,20.222222
7,1,Chocolate Sandwich Cookies,61,19,5.8,11485,170451,5,5,18,...,0.0,both,Mid range product,Regular busy,Average orders,10,New customer,6.534286,Low spender,18.111111
8,1,Chocolate Sandwich Cookies,61,19,5.8,12672,106854,28,5,10,...,1.0,both,Mid range product,Regular busy,Most orders,99,Loyal customer,8.594301,Low spender,3.491525
9,1,Chocolate Sandwich Cookies,61,19,5.8,13668,181127,10,4,17,...,1.0,both,Mid range product,Least busy,Average orders,22,Regular customer,7.177143,Low spender,14.955665
10,1,Chocolate Sandwich Cookies,61,19,5.8,14668,106519,18,0,22,...,1.0,both,Mid range product,Busiest,Average orders,23,Regular customer,6.582996,Low spender,8.597510
11,1,Chocolate Sandwich Cookies,61,19,5.8,16132,145505,64,2,10,...,1.0,both,Mid range product,Regular busy,Most orders,67,Loyal customer,7.179795,Low spender,4.399306
12,1,Chocolate Sandwich Cookies,61,19,5.8,18303,139923,16,0,23,...,1.0,both,Mid range product,Busiest,Fewest orders,39,Regular customer,6.353535,Low spender,10.225806
13,1,Chocolate Sandwich Cookies,61,19,5.8,19479,110984,2,2,12,...,0.0,both,Mid range product,Regular busy,Most orders,16,Regular customer,9.758140,Low spender,21.285714
14,1,Chocolate Sandwich Cookies,61,19,5.8,19569,180719,84,4,19,...,1.0,both,Mid range product,Least busy,Average orders,89,Loyal customer,8.588449,Low spender,3.871429

In [121]:
# Creating a flag for each user_id by average_days_since_prior_order
df_ords_prods.loc[df_ords_prods['average_days_since_prior_order'] > 20, 'order_regularity'] = 'Non-frequent customer'

In [123]:
df_ords_prods.loc[(df_ords_prods['average_days_since_prior_order'] > 10 ) & (df_ords_prods['average_days_since_prior_order'] <= 20), 'order_regularity'] = 'Regular customer'

In [124]:
df_ords_prods.loc[df_ords_prods['average_days_since_prior_order'] <=10., 'order_regularity'] = 'Frequent customer'

In [127]:
# Checking the frequency of our new order_regularity flag
df_ords_prods['order_regularity'].value_counts(dropna = False)

order_regularity
Frequent customer        16468582
Regular customer         12521159
Non-frequent customer     3415113
NaN                             5
Name: count, dtype: int64

In [129]:
# Checking the results of our new spending_habit flag
df_ords_prods.sort_values('user_id')

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_days,hourly_order_flag,max_order,loyalty_flag,average_user_item_price,spending_habit,average_days_since_prior_order,order_regularity
16643953,26088,Aged White Cheddar Popcorn,23,19,4.7,2539329,1,1,2,8,...,both,Low range product,Regular busy,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
7161580,12427,Original Beef Jerky,23,19,4.4,2295261,1,9,1,16,...,both,Low range product,Busiest,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
7161513,12427,Original Beef Jerky,23,19,4.4,2254736,1,4,4,7,...,both,Low range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
116323,196,Soda,77,7,9.0,2295261,1,9,1,16,...,both,Mid range product,Busiest,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
98186,196,Soda,77,7,9.0,550135,1,7,1,9,...,both,Mid range product,Busiest,Most orders,10,New customer,6.367797,Low spender,20.259259,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2145082,4461,Organic Raw Unfiltered Apple Cider Vinegar,19,13,14.3,550836,206209,7,2,13,...,both,Mid range product,Regular busy,Most orders,13,Regular customer,7.058915,Low spender,20.275862,Non-frequent customer
26423962,41213,French Loaf,112,3,4.8,1542354,206209,3,5,11,...,both,Low range product,Regular busy,Most orders,13,Regular customer,7.058915,Low spender,20.275862,Non-frequent customer
7754989,13176,Bag of Organic Bananas,24,4,10.3,2129269,206209,8,3,17,...,both,Mid range product,Least busy,Average orders,13,Regular customer,7.058915,Low spender,20.275862,Non-frequent customer
25110627,39216,Original Multigrain Spoonfuls Cereal,121,14,3.3,2977660,206209,13,1,12,...,both,Low range product,Busiest,Most orders,13,Regular customer,7.058915,Low spender,20.275862,Non-frequent customer
20239321,31130,Sea Salt Flakes Original,104,13,6.3,2266710,206209,10,5,18,...,both,Mid range product,Regular busy,Average orders,13,Regular customer,7.058915,Low spender,20.275862,Non-frequent customer

In [130]:
df_ords_prods.head(100)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_days,hourly_order_flag,max_order,loyalty_flag,average_user_item_price,spending_habit,average_days_since_prior_order,order_regularity
0,1,Chocolate Sandwich Cookies,61,19,5.8,1107,38259,2,1,11,...,both,Mid range product,Busiest,Most orders,4,New customer,7.163333,Low spender,21.311111,Non-frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,5319,196224,65,1,14,...,both,Mid range product,Busiest,Most orders,99,Loyal customer,5.342729,Low spender,1.460497,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,7540,138499,8,0,14,...,both,Mid range product,Busiest,Most orders,23,Regular customer,7.469540,Low spender,9.327381,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,9228,79603,2,2,10,...,both,Mid range product,Regular busy,Most orders,5,New customer,6.986207,Low spender,29.181818,Non-frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,9273,50005,1,1,15,...,both,Mid range product,Busiest,Most orders,22,Regular customer,7.493154,Low spender,8.465479,Frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,Chocolate Sandwich Cookies,61,19,5.8,197804,84766,22,1,14,...,both,Mid range product,Busiest,Most orders,41,Loyal customer,5.104124,Low spender,8.375000,Frequent customer
96,1,Chocolate Sandwich Cookies,61,19,5.8,199870,55962,18,0,18,...,both,Mid range product,Busiest,Average orders,22,Regular customer,5.252439,Low spender,15.987013,Regular customer
97,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,...,both,Mid range product,Regular busy,Fewest orders,28,Regular customer,6.607122,Low spender,7.086420,Frequent customer
98,1,Chocolate Sandwich Cookies,61,19,5.8,204112,65051,12,4,10,...,both,Mid range product,Least busy,Most orders,16,Regular customer,5.882759,Low spender,18.963636,Regular customer
99,1,Chocolate Sandwich Cookies,61,19,5.8,205631,166360,7,3,8,...,both,Mid range product,Least busy,Average orders,12,Regular customer,8.025137,Low spender,12.017241,Regular customer

In [139]:
# Exporting merged dataframe
df_ords_prods.to_pickle(os.path.join(path,'02 Data','Prepared Data','4.8_ords_prods.pkl'))